<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/images/weather-news.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>
        <form>
            <input type="text" id="location" placeholder="Location"/>
            <input type="submit"/>
        </form>

        <p id="city"></p>
        <p id="weather"></p>
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>